// colors
$white:#ededed;
$orange:#feae2e;

$green700:#044f27;
$green400:#66a62c;

$blue100:#0099e0;
$blue200:#007fb9;
$blue300:#00699a;
$blue400:#004564;


$red300:#b30606;
$red400:#960404;

$gray100:#a5a5a5;
$gray200:#828282;
$gray300:#606060;
$gray400:#424242;
