.registration-page{


  .form-wrapper{
    margin-top: 34px;
    form{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .form-actions{
          width: 100%;
          text-align: center;
          margin-top: 30px;
      }

    }

    .login-wrapper{
      font-size: 18px;
      text-align: center;
      margin-top: 30px;
    }
  }
}
